<div class="home">
    <div class="container info d-flex">
        <form action="/logout" method="POST">
            <button type="submit" class="btn btn-sm btn-primary">Logout</button>
        </form>
        <a href="/home/new_record" class="btn btn-sm btn-primary">New Patient</a>
    </div>
    <form class="data" action="/home/search" method="GET">
        <div class="mb-3">
            <form class="container bg-white p-3 rounded-3 shadow-lg" action="/signin" method="POST">
                <input type="text" class="form-control border-2 border-light rounded-pill " name="patient"
                    id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search for Patient">
                <form class="container bg-white p-3 rounded-3 shadow-lg" action="/signin" method="POST">
                    <button type="submit" class="btn btn-primary mt-3 code">Search</button>
        </div>
    </form>
</div>