<div class="new container">

    <form action="/home/new" class="card shadow-lg p-4" method="POST">
        <div class="d-flex data">
            <div class="mb-3">
                <label for="first name" class="form-label">First Name</label>
                <input type="text" name="first_name" class="form-control" placeholder="First name">
            </div>
            <div class="mb-3">
                <label for="last name" class="form-label">Last name</label>
                <input type="text" name="last_name" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-3">
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" class="form-control" placeholder="Phone Number">
        </div>
        <div class="mb-3">
            <label for="residence area">Residence Area</label>
            <input type="text" name="residence_area" class="form-control" placeholder="Residence Area">
        </div>
        <div class="mb-3">
            <label for="date of birth" class="form-label">Date of Birth</label>
            <input type="text" name="date_of_birth" autocomplete="bday" class="form-control"
                placeholder="Date of Birth">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>